<h2>Add new client to datebase</h2>
<form method="POST" action="/client">
    <p>
        <label>Email: <input type="email" name="email" /></label>
    </p>
    <p>
        <label>Name: <input name="name" /></label>
    </p>
    <p>
        <label>Contact at: <input type="date" name="nextContactAt" /></label>
    </p>
    <p>
        <div>Notes:</div>
        <textarea name="notes"></textarea>
    </p>
    <button>Add a new client</button>
</form>