table {
    text-align: left;
    width: 80%;
    margin: 0 auto
}

tr {
    margin: 2px;
    background-color: #e1e1e1;
}

tr:nth-child(even) {
    background-color: #d5d5d5;
}

thead tr, .one-client-table th {
    background-color: #969494;
}

thead tr:nth-child(even) {
    background-color: #d5d5d5;
}

td, th {
    padding: 6px;
}

.error {
    background-color: rgb(236, 192, 192);
    border: 2px solid red;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
}